<div class='card'
     *ngIf='weapon'>
  <div class='card-header'>
    {{pageTitle + ': ' + weapon.weaponName}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{weapon.weaponName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Code:</div>
          <div class='col-md-8'>{{weapon.weaponCode }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{weapon.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Availability:</div>
          <div class='col-md-8'>{{weapon.releaseDate}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{weapon.price|currency:'USD':'symbol'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>5 Star Rating:</div>
          <div class='col-md-8'>
            <pm-star [rating]='weapon.starRating'>
            </pm-star>
          </div>
        </div>
      </div>
   <tr *ngFor='let weaponUrl of weaponUrls'>   
      <div class='col-md-4'>
        <img class='center-block img-responsive'
      [style.width.px]='200'
      [style.margin.px]='2'
      [src]='weaponUrl.url'
      [title]='weaponUrl.altText'>
      </div>
      </tr>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>